In [1]:
import pandas as pd

# Joint Probability

In [3]:
df = pd.read_csv(r"https://raw.githubusercontent.com/pandas-dev/pandas/refs/heads/main/doc/data/titanic.csv")

pd.crosstab(df.Survived, df.Pclass)

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [4]:
pd.crosstab(df.Survived, df.Pclass, normalize='all')

Pclass           1         2         3
Survived
0         0.089787  0.108866  0.417508
1         0.152637  0.097643  0.133558

# Marginal/ Simple/ Unconditional Probability:

In [5]:
pd.crosstab(df.Survived, df.Pclass, margins=True)

Pclass      1    2    3  All
Survived
0          80   97  372  549
1         136   87  119  342
All       216  184  491  891

In [7]:
pd.crosstab(df.Survived, df.Pclass, normalize='all',margins=True)

Pclass           1         2         3       All
Survived
0         0.089787  0.108866  0.417508  0.616162
1         0.152637  0.097643  0.133558  0.383838
All       0.242424  0.206510  0.551066  1.000000

# Conditional Probability

In [10]:
pd.crosstab(df.Survived, df.Pclass, normalize='columns')

Pclass          1         2         3
Survived
0         0.37037  0.527174  0.757637
1         0.62963  0.472826  0.242363

In [11]:
pd.crosstab(df.Survived, df.Pclass, normalize='index')

Pclass           1         2         3
Survived
0         0.145719  0.176685  0.677596
1         0.397661  0.254386  0.347953